services:
  spring-api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: dev

  web:
    build:
      context: ../react-frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    environment:
      VITE_API_TARGET: http://spring-api:8080
    depends_on:
      - spring-api
