services:
  spring-api:
    build:
      context: .   # <-- set this to your Spring project folder
      dockerfile: Dockerfile
    environment:
      SPRING_PROFILES_ACTIVE: docker
      # optionally force H2 / in-memory for local compose, if you already use it
      # SPRING_DATASOURCE_URL: jdbc:h2:mem:testdb
    ports:
      - "8080:8080"

#  web:
#    build:
#      context: ./web               # <-- Next.js folder
#      dockerfile: Dockerfile
#    environment:
#      SPRING_API_BASE_URL: http://spring-api:8080
#    ports:
#      - "3000:3000"
#    depends_on:
#      - spring-api
